{% set baseUrl = app.request.getSchemeAndHttpHost()|default("http://www.bucketlist127.com") %}
{% set homePageUrl = url('homepage') %}
{% set email = receiver.email %}

{% autoescape false %}
        <div style="clear:both;margin:10px 0;padding: 20px 0 0;height:70px;">

            {% if sender %}
                {% if sender.getPhotoLink %}
                    <figure style="float:left;width:65px;height:65px !important;overflow:hidden;margin:0 20px;border:1px solid #cccccc; border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%">
                        <img src="{{ sender.getPhotoLink|blImageFilterForCli('user_icon') }}" alt="{{ sender.filename }}"
                             style="width:65px;height:65px !important; border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%">
                    </figure>
                {% else %}

                    {% set lastName = sender.lastName %}
                    {% set firstName = sender.firstName %}
                    {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}

                    <p style="width:60px;height:60px;background: #0f2763;
                              border-radius: 50%;
                              -webkit-border-radius: 50%;
                              -moz-border-radius: 50%;
                              -ms-border-radius: 50%;
                              -o-border-radius: 50%;
                              overflow: hidden;
                              line-height: 55px;
                              text-align: center;
                              color: #FFFFFF;
                              background: -moz-linear-gradient(left, #0f2763 0%, #102a65 3%, #122b6b 4%, #122b6b 5%, #152e70 6%, #173575 8%, #1e3b7d 10%, #335998 16%, #4e78b2 22%, #507bb0 22%, #5d8bbc 25%, #6b9bc3 29%, #6f9dbf 29%, #7ca9c8 32%, #8ab1ce 37%, #94bacf 42%, #95bbce 43%, #9ebfd2 47%, #9dc0d4 48%, #a1c2d5 49%, #a3c2d4 50%, #a7c4d6 51%, #a7c4d4 51%, #afcbd7 56%, #b5d1dc 64%, #b2d0db 69%, #aeccd7 70%, #abcdd9 71%, #a7c8d9 73%, #94bed4 78%, #8fbcd1 78%, #86b4cc 80%, #7cadcd 82%, #74a6c7 83%, #5a94c2 87%, #528cba 88%, #4783b9 90%, #4076b2 92%, #3067a7 97%, #2c62a2 100%); /* FF3.6-15 */
                              background: -webkit-linear-gradient(left, #0f2763 0%,#102a65 3%,#122b6b 4%,#122b6b 5%,#152e70 6%,#173575 8%,#1e3b7d 10%,#335998 16%,#4e78b2 22%,#507bb0 22%,#5d8bbc 25%,#6b9bc3 29%,#6f9dbf 29%,#7ca9c8 32%,#8ab1ce 37%,#94bacf 42%,#95bbce 43%,#9ebfd2 47%,#9dc0d4 48%,#a1c2d5 49%,#a3c2d4 50%,#a7c4d6 51%,#a7c4d4 51%,#afcbd7 56%,#b5d1dc 64%,#b2d0db 69%,#aeccd7 70%,#abcdd9 71%,#a7c8d9 73%,#94bed4 78%,#8fbcd1 78%,#86b4cc 80%,#7cadcd 82%,#74a6c7 83%,#5a94c2 87%,#528cba 88%,#4783b9 90%,#4076b2 92%,#3067a7 97%,#2c62a2 100%); /* Chrome10-25,Safari5.1-6 */
                              background: linear-gradient(to right, #0f2763 0%,#102a65 3%,#122b6b 4%,#122b6b 5%,#152e70 6%,#173575 8%,#1e3b7d 10%,#335998 16%,#4e78b2 22%,#507bb0 22%,#5d8bbc 25%,#6b9bc3 29%,#6f9dbf 29%,#7ca9c8 32%,#8ab1ce 37%,#94bacf 42%,#95bbce 43%,#9ebfd2 47%,#9dc0d4 48%,#a1c2d5 49%,#a3c2d4 50%,#a7c4d6 51%,#a7c4d4 51%,#afcbd7 56%,#b5d1dc 64%,#b2d0db 69%,#aeccd7 70%,#abcdd9 71%,#a7c8d9 73%,#94bed4 78%,#8fbcd1 78%,#86b4cc 80%,#7cadcd 82%,#74a6c7 83%,#5a94c2 87%,#528cba 88%,#4783b9 90%,#4076b2 92%,#3067a7 97%,#2c62a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2763', endColorstr='#2c62a2',GradientType=1 );">
                        {{ nameOnImage }}
                    </p>
                {% endif %}
            {% endif %}

            <div style="float:left">
                <p style="color: #333;margin: 5px 0;font-size:16px;">{{ body }}</p>
                <p style="color:#999999;margin:5px 0 0;font-size:14px;font-weight:700;">{{ 'now'|date('d M Y') }} at {{ 'now'|date('H:i') }}</p>
            </div>
        </div>

        {% if goal %}

            {% set cover = goal.getCoverPhotoDownloadLink %}
            {% set randomImage ='bundles/app/images/cover' ~ random(4) ~ '.jpg' %}

            <figure style="margin:20px 0 0;background-color: #011420;width: 510px;overflow:hidden;text-align:center;">
                <img src="
                    {% if cover %}
                        {{ cover|blImageFilterForCli('goal_bg') }}
                    {% else %}
                        {{ asset(randomImage)}}
                    {% endif %}"
                     alt="{{ goal.title }}"  height="230" width="100%"/>
                <figcaption style=";text-align:center;">
                    <h3 style="color:#ffffff;font-size: 24px;padding: 10px 25px;text-transform: capitalize;margin:0;line-height: 30px;font-weight: 700;">{{ goal.title }}</h3>
                </figcaption>
            </figure>
        {% endif %}

        {% if viewLink %}
            <p style="text-align:center;padding:28px 0 30px;margin:0;">
                <a href = "{{ viewLink }}" style="background: #7724F6;display: inline-block;color:#ffffff;padding:15px 60px;font-size:14px;text-decoration:none;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;">
                    {{ 'email_bucketlist_link'|trans({}, 'email', language) }}</a>
            </p>
        {% endif %}


{% endautoescape %}
