<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Hello, {{ name }}</title>
</head>
<body>
<h3>Hello, {{ name }}!</h3>

<p>{{ email }} was used to create a {{ project_name }} account,</p>
<p>we want to make sure that this is your email address.</p>
<p>Confirming your account will give you full access to {{ project_name }}.</p>


<p><a href={{ url }}>Verify my email {{ url }}</a></p>

<br /><br />
<p>Thank you for choosing {{ project_name }}.</p>
<p>Please do not reply to this message.</p>
<p>If you have more questions, please visit our
    <a href="{{ helpUrl }}">Help Center</a></p>
</body>
</html>
