<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Hello, {{ name }}</title>
</head>
<body>
<h3>Hello, {{ name }}!</h3>

<p>Please activate your new email <strong>{{ email }}</strong>  <a href={{ url }}>{{ url }}</a></p>

<br /><br />
<p>Please do not reply to this message.</p>
<p>If you have more questions, please visit our
    <a href="{{ helpUrl }}">Help Center</a></p>

</body>
</html>
