{% extends "AppBundle::layout_top.html.twig" %}

{# set current user to user with joined relation #}
{% set status = app.request.get('status') %}
{% set all = null %}
{% set active = 'active-goals' %}
{% set activity = 'activity' %}
{% set completed = 'completed-goals' %}
{% set common = 'common-goals' %}
{% set owned = 'owned' %}

{% set importantUrgent = app.request.get('f_1') %}
{% set notImportantUrgent = app.request.get('f_2') %}
{% set importantNotUrgent = app.request.get('f_3') %}
{% set notImportantNotUrgent = app.request.get('f_4') %}
{% set dreamFilter = app.request.get('d') %}

    {% if importantUrgent == "on" %}
        {% set iuTitle = 'my_bucket_list.iu_title'|trans %}
        {% set iuDescription = 'my_bucket_list.iu_description'|trans %}
    {% endif %}

    {% if notImportantUrgent == "on" %}
        {% set noIUTitle = 'my_bucket_list.noiu_title'|trans %}
        {% set noIUDescription = 'my_bucket_list.noiu_description'|trans %}
    {% endif %}

    {% if importantNotUrgent == "on" %}
        {% set iNoUTitle = 'my_bucket_list.inou_title'|trans %}
        {% set iNoUDescription = 'my_bucket_list.inou_description'|trans %}
    {% endif %}

    {% if notImportantNotUrgent == "on" %}
        {% set noInoUTitle = 'my_bucket_list.noinou_title'|trans %}
        {% set noInoUDescription = 'my_bucket_list.noinou_description'|trans %}
    {% endif %}

  {% if dreamFilter == "1" %}
      {% set dreamTitle = 'my_bucket_list.dream_title'|trans %}
      {% set dreamDescription = 'my_bucket_list.dream_description'|trans %}
  {% endif %}

{% block angularApp %}
<html data-ng-app="profile" data-ng-controller="profileController">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='css/layout_activity.css'
    'app/bower_components/swiper/dist/css/swiper.min.css'
    filter='less,cssrewrite'
    %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="{{ asset('app/bower_components/dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">
    <style>
        html {
            overflow-y: auto !important;
        }
    </style>
{% endblock %}

{%- block meta_description -%}
    {{ 'my_bucket_list.description'|trans }}
{%- endblock -%}

{%- block title -%}
    {% if status == completed %}
        {{- 'my_bucket_list.completed_goals'|trans ~ dreamTitle|default('') ~ iuTitle|default('') ~ noIUTitle|default('') ~ iNoUTitle|default('') ~ noInoUTitle|default('') -}}
    {% elseif status == active %}
        {{- 'my_bucket_list.active_goals'|trans ~ dreamTitle|default('') ~ iuTitle|default('') ~ noIUTitle|default('') ~ iNoUTitle|default('') ~ noInoUTitle|default('') -}}
    {% elseif status == all %}
        {{- 'my_bucket_list.title'|trans ~ dreamTitle|default('') ~ iuTitle|default('') ~ noIUTitle|default('') ~ iNoUTitle|default('') ~ noInoUTitle|default('') -}}
    {% elseif status  == 'all' %}
        {{- 'goal.friend_inner_title'|trans -}}
    {% elseif status  == 'activity' %}
        {{- 'goal.friend_inner_title'|trans -}}
    {% endif %}
{%- endblock -%}

{%- block og_image -%}
    {% set images = profileUser.getPhotoLink %}
    {%- if images -%}
        {{- host ~ images -}}
    {% else %}
        {{- parent() -}}
    {%- endif -%}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri }}
{%- endblock -%}

{% block content_header %}
    {% set stats = profileUser.getStats %}
    {% set lastName = profileUser.lastName %}
    {% set firstName = profileUser.firstName %}
    {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}
    {% set className = "profile-image profile-image" ~ random(4) %}
    {% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.jpg' %}

    <div class="content-header">
        <figure  {% if profileUser.id == app.user.id %} class="my-profile"{% endif %}>
            <span class="overlay"></span>
            <img src="
            {% if profileUser.getPhotoLink %}
                {{ profileUser.getPhotoLink|blImageFilter('user_cover') }}
            {% else %}
                {{ asset(imgPath) }}
            {% endif %}"
                 alt="Profile Cover Photo" class="img-responsive" />
        </figure>

        <div class="profile">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <figure>

                            {% if profileUser.id == app.user.id %}
                                <a href="{{ path("edit_user_profile") }}" class="mobile-settings show-xs hidden-sm hidden-md hidden-lg settings-icon"></a>
                            {% endif %}

                            {% block profileImage %}
                            <div>
                                {% if profileUser.getPhotoLink %}
                                    <img src="{{ profileUser.getPhotoLink|blImageFilter('user_image') }}" alt="Profile image" class="img-responsive img-circle"/>
                                {% else %}
                                    <span class="no-image {{ className }}">{{ nameOnImage }}</span>
                                {% endif %}
                            </div>
                            {% endblock %}

                            <figcaption>

                                <h3 data-ng-cloak>
                                    <span class="{% if profileUser.showName|length > 12 %}title-smaller{% endif %}" data-ng-if="isMobile">
                                        {% if profileUser.showName %}
                                            {{ profileUser.showName }}
                                        {% endif %}

                                        {#{% if  profileUser.getAge  %}#}
                                            {#{{ profileUser.getAge }} {{ "my_bucket_list.year_old"|trans }}#}
                                        {#{% endif %}#}
                                    </span>
                                </h3>

                                {% if profileUser.id != app.user.id %}
                                    <span class="close-friends hidden-sm hidden-md hidden-lg"
                                          data-ls-follow-manage
                                          data-ng-mouseleave="isHover = false"
                                          data-ng-mousemove="hoverIn($event, (isFollow?'{{ "my_bucket_list.un_follow"|trans }}':'{{ "my_bucket_list.follow"|trans }}'))"
                                          data-ng-cloak
                                          data-ng-init="isFollow = {{ app.user.isFollowing(profileUser) }}"
                                          data-ls-user-id="{{ profileUser.id }}"
                                          data-ls-is-follow="isFollow">

                                        <i class="follow-icon" data-ng-show="!isFollow" title="{{ "my_bucket_list.follow"|trans }}"></i>
                                        <i class="closefriend-icon" data-ng-show="isFollow" title="{{ "my_bucket_list.un_follow"|trans }}"></i>
                                        <span data-ng-show="!isFollow">{{ 'my_bucket_list.follow' | trans | upper }}</span>
                                        <span data-ng-show="isFollow">{{ 'my_bucket_list.un_follow' | trans | upper }}</span>
                                    </span>
                                {% endif %}

                                <ul>
                                    <li>
                                        <span>{{ 'block_listed'|trans | capitalize }}</span>
                                        <span>{{ stats.listedBy }}</span>
                                    </li>

                                    <li>
                                        <span>{{ 'user_goal.active'|trans | capitalize }}</span>
                                        <span>{{ stats.active }}</span>
                                    </li>

                                    <li>
                                        <span>{{ 'block_completed'|trans |capitalize }}</span>
                                        <span>{{ stats.doneBy }}</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-4 hidden-xs relative">

                        {% if profileUser.showName %}
                            <h1>
                                <span class="bg-blue {% if profileUser.showName|length > 11 %}title-smaller{% endif %}">{{ profileUser.showName }}</span>
                            </h1>
                        {% endif %}

                        {#{% if  profileUser.getAge  %}#}
                            {#<p>{{ profileUser.getAge }} {{ "my_bucket_list.year_old"|trans }}</p>#}
                        {#{% endif %}#}
                        {% if profileUser.id != app.user.id %}
                            <span class="close-friends hidden-xs"
                                    data-ls-follow-manage
                                    data-ng-cloak
                                    data-ng-mouseleave="isHover = false"
                                    data-ng-mousemove="hoverIn($event, (isFollow?'{{ "my_bucket_list.un_follow"|trans }}':'{{ "my_bucket_list.follow"|trans }}'))"
                                    data-ng-init="isFollow = {{ app.user.isFollowing(profileUser) }}"
                                    data-ls-user-id="{{ profileUser.id }}"
                                    data-ls-is-follow="isFollow">
                                <i class="follow-icon" data-ng-show="!isFollow"></i>
                                <i class="closefriend-icon" data-ng-show="isFollow"></i>
                                <span data-ng-show="!isFollow">{{ 'my_bucket_list.follow' | trans | upper }}</span>
                                <span data-ng-show="isFollow">{{ 'my_bucket_list.un_follow' | trans | upper }}</span>
                            </span>
                        {% endif %}

                        {% set badges = profileUser.getBadges %}

                        <ul class="badge-place">

                            {% set badgeTitles = {
                            1 : 'leaderboard.traveler'|trans,
                            2 : 'leaderboard.writer'|trans,
                            3 : 'leaderboard.innovator'|trans
                            } %}

                            {% for badge in badges %}

                                {% set score = badgeNormalizer(badge.type, badge.Score) %}

                                {% if score  > 0 %}
                                    <li>
                                        <i title="{{ badgeTitles[badge.type] }}" class="badge-{{ badge.type }}"></i>
                                        <a href="{{ path('leaderboard') }}#/{{ badgeTitles[badge.type] }}">{{ score|round(0, 'ceil')}}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>

                    {% if profileUser.id == app.user.id %}
                        <div class="col-sm-4" data-ng-class="{'bg-white': isMobile}">
                            <div class="text-right hidden-xs">
                                <a href="{{ path("edit_user_profile") }}" class="settings-icon">
                                    {#<i class="icon-settings"><span class="path1"></span><span class="path2"></span></i>#}
                                </a>
                            </div>

                            {% if user.getCompletedPercent()|round(1, 'floor') != 100 %}
                                <div class="profile-information" data-ng-show="{{ user.getCompletedPercent()|round(1, 'floor') }} != 100">
                                    <em>{{ 'complete_message'|trans }}</em>

                                    <div class="row no-gutter">
                                        <div class="col-xs-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped"
                                                     role="progressbar"
                                                     aria-valuenow="45"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width:{{ user.getCompletedPercent|round(1, 'floor') }}%">
                                                    {{ user.getCompletedPercent|round(1, 'floor') }}%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="text-gray"
                                               data-ng-click="completeProfileMyBucketList=!completeProfileMyBucketList" data-ng-cloak>
                                                <i class="question-icon-new ng-hide" data-ng-hide="completeProfileMyBucketList || isMobile"></i>
                                                <i class="icon-question-icon ng-hide" data-ng-hide="completeProfileMyBucketList || !isMobile"><span class="path1"></span><span class="path2"></span></i>
                                                <i class="icon-icon-up ng-hide" data-ng-show="completeProfileMyBucketList"><span class="path1"></span><span class="path2"></span></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                        </div>
                    {#{% else %}#}
                        {#<div class="col-sm-4 hidden-xs">#}
                             {#<div class="follow text-right"#}
                                  {#data-ls-follow-manage#}
                                  {#data-ng-cloak#}
                                  {#data-ng-init="isFollow = {{ app.user.isFollowing(profileUser) }}"#}
                                  {#data-ls-user-id="{{ profileUser.id }}"#}
                                  {#data-ls-is-follow="isFollow">#}
                                {#<i class="icon-follow" data-ng-show="!isFollow" title="{{ "my_bucket_list.follow"|trans }}"></i>#}
                                {#<i class="icon-unfollow" data-ng-show="isFollow" title="{{ "my_bucket_list.un_follow"|trans }}"></i>#}
                             {#</div>#}
                        {#</div>#}
                    {% endif %}
                </div>
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success alert-dismissible ">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}


                {% if user.getCompletedPercent()|round(1, 'floor') != 100 %}
                    <div class="row slide ng-hide" data-ng-cloak data-ng-show="completeProfileMyBucketList" style="display: none">
                        <div class="col-sm-6">
                            <ol style="position: relative;">
                                <li>
                                    <span class="profile-title">
                                        {{ 'security.login.sign_up'|trans({}, 'FOSUserBundle') }}
                                        <i class="icon-ok-only"></i>
                                    </span>
                                    <span class="text-gray">{{ 'my_list.signed_up'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <span class="profile-title">{{ 'account.complete_text'|trans }}
                                        {% if user.registrationToken is null %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.verification'|trans({}, 'FOSUserBundle') }}</span>
                                    <span class="text-gray">{{ 'my_list.confirm'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    {% if user.socialPhotoLink or  user.fileName %}
                                        <span class="profile-title">{{ 'image_complete_text'|trans }}
                                            <i class="icon-ok-only"></i>
                                        </span>
                                    {% else %}
                                        {#<a href="javascript:void(0)"#}
                                           {#data-ls-jquery-modal#}
                                           {#data-ls-template-url="{{ path('settings') }}"#}
                                           {#data-ls-identity="goalSettingsInCompleteModal">#}
                                            {#<strong>{{ 'image_complete_text'|trans }}</strong>#}
                                            {#<i class="icon-question-only"></i>#}
                                        {#</a>#}
                                        <a href="{{ path('edit_user_profile') }}">
                                            <strong>{{ 'image_complete_text'|trans }}</strong>
                                            <i class="icon-question-only"></i>
                                        </a>
                                    {% endif %}
                                    <span class="text-gray">{{ 'my_list.add_image'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <a href="{{ path('add_goal') }}">
                                        <strong>{{ 'my_bucket_list.add_goal'|trans |capitalize }}</strong>
                                        {% if user.getUserGoalCount|length > 0 %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </a>
                                    <span class="text-gray">{{ 'my_list.want_control'|trans({}, 'FOSUserBundle') }}</span>
                                    <span class="text-gray">{{ 'my_list.follow_link'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                            </ol>

                        </div>

                        <div class="col-sm-6">
                            <ol style="position: relative" start="5">
                                <li>
                                    <span class="profile-title">{{ 'deadline.complete_text'|trans }}
                                        {% if user.checkDeadLines() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.dream_text'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <span class="profile-title">{{ 'goal.complete_text'|trans }}
                                        {% if user.checkCompletedGoals() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.have_goal'|trans({}, 'FOSUserBundle') }}</span>
                                </li>

                                <li>
                                    <span class="profile-title">{{ 'success_story.complete_text'|trans | capitalize}}
                                        {% if user.checkSuccessStory() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.complete_goal'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                            </ol>

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="follow-tooltip ng-hide"
         data-ng-cloak
         data-ng-show="isHover">
        <span class="arrow-up"></span>
        [[ hoveredText]]
    </div>
{% endblock %}

{% block content_container %}{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts output='js/app_mybucketlist.js'
'app/bower_components/dropzone/downloads/dropzone.min.js'
'bundles/app/js/storyImages.js'
'app/bower_components/swiper/dist/js/swiper.min.js'
'bundles/app/js/swiper-inner.js'
'bundles/app/js/my-checkbox.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}