{% extends "::base.html.twig" %}

{% block confirm_email %}
{% endblock %}

{% block content %}

    <div class="signup notice">
        <div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="text-center">Resend Message</h1>
                    <h4 class="text-center text-gray">{{ 'registration.resend_message'|trans({'%email%': app.user.email}, 'FOSUserBundle') }}</h4>
                    <h4 class="text-center text-gray">{{ 'register_text'|trans({'%XXX%': project_name}) }}</h4>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%- block title -%}
    {{ 'user.resend_email_title'|trans({}, 'FOSUserBundle') }}
{%- endblock -%}

{%- block og_title -%}
    {{ 'user.resend_email_title'|trans({}, 'FOSUserBundle') }}
{%- endblock -%}

{%- block og_description -%}
    {{ 'user.resend_email_description'|trans({}, 'FOSUserBundle') }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'user.resend_email_description'|trans({}, 'FOSUserBundle') }}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}